@media(max-width: 900px){
  .bar{
    display: block;
  }
.hamburger{
  display: block;
}
.nav-menu{
  position: fixed;
  right: -100%;
  top: 70px;
  flex-direction: column;
  width: 100%;
  text-align: center;
  
  transition: 0.3s;
}
.nav-item{
    padding: 1.5rem 0;
  }

.nav-menu.active{
  right: 0;
}
}

@media(max-width: 769px){
   
    #aboutImagesOne img{
      width: 400px;
      height: 300px;
    }
    #aboutImagesTwo img{
      width: 400px;
      height: 300px;
   }

   #carouselExampleCaptions img{
    height: 320px;
  }
   .recenica{
    font-size: 18px;
   }
   #popravkaSlika img{
    width:400px;
    height:300px;
   }
   #forma{
    flex-direction: column;
    align-items: center;
    margin:20px 0px;
   }
   .contact-info{
   width:80%;
   margin: 0px;
   border-radius:10px 10px 0px 0px;
   }

  .stilovi{
  width:80%;
  margin: 0px;
  border-radius:0px 0px 10px 10px;
  }

  }

  @media(max-width: 610px){
  #aboutImagesOne img{
    width: 310px;
    height: 270px;
  }
  #aboutImagesTwo img{
    width: 310px;
    height: 270px;
  }
  #about-text{
    margin: 50px 0px;
  }
  #popravkaSlika img{
    width:310px;
    height:270px;
 }
 .imgabout img{
  margin-top: 50px;
  width: 300px;
  height:400px;
 }
 .text{
     margin-bottom: 30px;
 }
.tabela th {
  padding: 10px ;
}
}

  @media(max-width: 426px){
    #carouselExampleCaptions img{
      height: 260px;
    }
    }